@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
}

.right-links, .logo {
    display: flex;
    gap: 20px;
    font-size: 18px;   
}


.logo {
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    /* border: orange solid 2px; */
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.signup {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  align-self: flex-start;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.title {
    font-weight: bold;
    font-size: 48px;
}

.first-container {
    display: flex;
    background-color: #1f2937;
    /* border: solid orange 2px; */
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.title-card {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    width: 420px;
    height: auto;
    /* border: solid 2px red; */
}

img {
    width: 550px;
    height: 250px;
    max-width: 100%;
    object-fit: cover;
}

.header, .first-container {
    max-width: 100%;
    justify-content: space-between;
}

.right-links, 
.logo, 
.title-card {
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.right-links,
.image {
    margin-right: 400px;
}

.image {
    display: flex;
    flex-shrink: 0;
}

.text-container {
    width: 400px;
}

.second-container {
    display: flex;
    flex-direction: column;
    /* border: orange solid 2px; */
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0px 100px 0px;
    
}

.second-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: blue solid 2px; */
    width: 150px;
}

.square {
    width: 150px;  
    height: 150px;
    border-radius: 15px;
    border: 4px solid #3882f6; 
    margin-bottom: 5px; 
}

.card-container {
    display: flex;
    justify-content: center;
    /* border: solid green 2px; */
    gap: 50px;
    width: 100%;
}

.card-text {
    color: #1f2937;
    text-align: center;
}

.third-container {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
    /* border: solid black 2px; */
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 850px;
    /* border: solid green 2px; */
    margin: 120px;
}

.quote {
    font-weight: 300;
    font-size: 36px;
}

.author-name {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.fourth-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    /* margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 300px;
    margin-right: 300px; */
    margin: 70px auto; 
    width: 100%;        
    max-width: 800px;  
    padding: 10px;
}

.cta-container {
    display: flex;
    flex-direction: column;
}

.signup-cta {
    background-color: transparent;
    border: 3px solid white;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    /* border: solid black 2px; */
    
}

.footer-text {
    color: #e5e7eb;
    margin: 30px;
}


