@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

.right-links, .logo {
    display: flex;
    gap: 20px;
    margin: 15px;
}

.logo {
    font-weight: bold;
}